<div class="navbar">
  <div class="navbar-a">
    <div>
      <a class="brand-name" href="/home">FIGHT CLUB</a>
    </div>
    <div>
      <a class="members" href="/members">Members</a>
    </div>
    <div>
      <a class="members" href="/chat">Chat</a>
    </div>
  </div>
  <div class="navbar-b">
    <div>
      <div class="song">
        <span class="material-symbols-outlined" id="playPause">play_arrow</span>
        <span id="currentTime">00:00</span>
        <progress
          class="progress-bar"
          id="progressBar"
          value="0"
          max="100"
        ></progress>
        <span id="duration">3:37</span>
      </div>

      <audio id="myAudio">
        <source src="/music/wmm.mp3" type="audio/mpeg" />
      </audio>
    </div>
    <div>
      <a href="/members/new">SIGN IN</a>
    </div>
  </div>
</div>

<script src="/js/audio.js"></script>