<nav class="navbar navbar-expand-md border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">FIGHT CLUB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <div class="navbar-options">
                <a class="nav-link" aria-current="page" href="/members">Members</a>
                <a class="nav-link" href="/rules">Rules</a>
            </div>
            <div class="navbar-signin">
                <a class="nav-link" href="/members/new">SIGN IN</a>
            </div>
        </div>
      </div>
    </div>
  </nav>