<!-- <div class="navbar">
  <div class="navbar-a">
    <div>
      <a class="brand-name" href="/home">FIGHT CLUB</a>
    </div>
    <div>
      <a class="members" href="/members">Members</a>
    </div>
    <div>
      <a class="members" href="/chat">Chat</a>
    </div>
  </div>
  <div class="navbar-b">
    <div>
      <div class="song">
        <span class="material-symbols-outlined" id="playPause">play_arrow</span>
        <span id="currentTime">00:00</span>
        <progress
          class="progress-bar"
          id="progressBar"
          value="0"
          max="100"
        ></progress>
        <span id="duration">3:37</span>
      </div>

      <audio id="myAudio">
        <source src="/music/wmm.mp3" type="audio/mpeg" />
      </audio>
    </div>
    <div>
      <a href="/members/new">SIGN IN</a>
    </div>
  </div>
</div>

 -->



<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <span class="navbar-brand-name"><b>FIGHT CLUB</b></span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/chat">CHAT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">LOG OUT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/audio.js"></script>


