<%= layout("/layouts/boilerplate") %>
    <div class="members">
        <p><b>MEMBERS</b></p>
    <ul>
        <li>Anubhav (Founder)</li>
        <li>Manjeet (Co-Founder)</li>
        <li>Nikhil (Ceo)</li>
        <li>Swastika (Hr)</li>
        <li>Raghav (Manager)</li>
        <li>Riya (Supervisor)</li>
        <li>Harsh (Worker)</li>
    </ul>
    </div>
</body>
</html>