<%= layout("layouts/boilerplate") %>

<div class="clr">
  <div class="lr">
    <h1>Register</h1>
    <form class="details" action="/register" method="POST">
      <div class="lr-details">
        <input
          type="text"
          id="username"
          name="username"
          required
          placeholder="Username"
        />
      </div>
      <div class="lr-details">
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="Password"
        />
      </div>

      <button
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-top: 5px;
          background-color: rgba(0, 0, 0, 0.5);
          height: 25px;
          border-radius: 20px;
          color: white;
        "
        class="btn"
        type="submit"
      >
        Register
      </button>
    </form>
    <% if (error_msg) { %>
    <p style="color: white"><%= error_msg %></p>
    <% } %>
    <div class="login-link">
      <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
  </div>
</div>
