.navbar {
  background-color: rgba(147, 176, 184, 0.5);
  z-index: 1000000000000000000000000;
}

.navbar-brand{
  color: rgb(11, 31, 42);
}

.nav-link {
  font-weight: bold;
  color: rgba(11, 31, 42, 0.5);
}
