.box {
    background-color: #1e1e1e;
}

.navbar {
    background-color: rgb(137, 112, 217) !important;
}
.navbar a{
    color: white !important;
}
.navbar-options{
    display: flex;
}

.navbar-signin{
    position: fixed;
        right: 10px; /* Adjust as needed */
        cursor: pointer;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: #88498F;
    font-family:"Jersey 10 Charted" ;
    font-weight: 400;
    font-style: normal;
    font-size:100px;
}

.members{
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 400;
    font-style: normal;
}

.members-names{
    font-weight: bold;
}

.rules{
    text-transform: capitalize;
}

.user-details{
    display: flex;
    margin-top: 0.7em;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.signin {
    border: 2px solid white;
}

.form-name{
    padding-top: 10px;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:xx-large;
}

.form-text{

    width: 270px;
    height: 40px;
    background-color: white;
}

.submit{
    background-color: rgba(0, 0, 255, 0.3);
    border-color: rgba(0, 0, 255, 0.3);
}

table, th, td{
    border: 1px solid black;
}