<%= layout("layouts/boilerplate.ejs") %>

<div class="chat-container">
  <div class="chat-box">
    <ul id="messages">
      <!-- Messages will be appended here -->
    </ul>
  </div>
  <form id="form">
    <input id="input" type="text" autocomplete="off" />
    <button type="submit">
      <span class="material-symbols-outlined"> send </span>
    </button>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
