<%= layout("layouts/boilerplate") %>
<div class="mt-3">
    <p><b>Sign In</b> to become Member of <b>FIGHT CLUB</b></B></p>
        <h3>Members</h3>
        
</div>

<% for(let member of allMembers) { %>
    <ul>
        <li>
            <a href="/members/<%= member._id %>"><%= member.username %></a>
        </li>
    </ul>
<% } %>